@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body {
  @apply bg-white text-slate-800 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

/* small utility */
.container { @apply max-w-7xl mx-auto px-6; }
